/* -- Google Fonts -- */






/* -- Components Design -- */

@import url("Components/navbar.css");
@import url("Components/banner.css");
@import url("Components/nav.css");
@import url("Components/grid.css");
@import url("Components/facts.css");
@import url("Components/partners.css");
@import url("Components/talk-dirt.css");
@import url("Components/footer.css");


/* -- Fonts -- */

body  {
	font-family: 'Futura TGW', 'Futura-Medium', Futura, Helvetica, Arial, sans-serif;
	font-weight: 100;
    letter-spacing: 1.5px;
    color: #585757;
    line-height: 1.7em;

}

h1, h2, h3, h4 {

	font-family: 'Futura TGW', 'Futura-Medium', Futura, Helvetica, Arial, sans-serif;
    letter-spacing: 1.5px;
}

h1 {
	font-size: 3em;
}

a:hover {
	color: #AE462B !important;
	text-decoration: none;

}

.caps {
  text-transform: uppercase;
}
.btn-outline-secondary:hover {
  color: #AE462B !important;
  border-color: #AE462B !important;
  background-color: transparent;
}

.btn-outline-secondary {
  border-color: #b9b8b8 !important;
  color: #b9b8b8 !important;;
}


.red {
	color: #AE462B;
}

.white {
	color: #fff;
}

.yellow {
	color: #F7B258
}

.grey {
	color: #585757;
}

.blue {
  color: #5C6F93;
}

.lt-grey {
  color: #b9b8b8;
}

@media screen and (max-width: 480px) {
    .banner h1 {
    font-size: 3em;
    }
.banner .logo {
  max-width: 50%;
}

#nav .nav {
background-color: red;
position: relative;
margin: 0 auto !important;
}

.card-outline-secondary {
  font-size: 0.8em;
  padding: 10% 10% 35% 10%;

}

}
