.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5vh;
  position: relative;
  z-index: 0;
}

.logo {
  max-width: 25%;
}

.banner-content {
  margin-top: -5%;
}

.banner h1 {
  font-size: 4em;
}

.banner-content p {
  line-height: 4em;
  letter-spacing: 3px;
  margin-bottom: 2.5%;
  font-size: .80em;
}

.caps {
  text-transform: uppercase;
}

.small-p {
  font-size: 0.5em;
}

#learn-more {
  background-color: #AE462B !important;
  color: #fff !important;
  border: none;
  font-weight: lighter;
  padding: 15px 35px 15px 35px;
  font-size: 14px;
}

