
.the-facts {
  padding: 10% 20%;
  background-color: #ECE9E7;
  
}



.the-facts h1 {
  margin-bottom: 10%;
}

.card-blockquote {
  padding: 10% 10% 15% 10%;
  

}

.carousel-item p {
  color: #fff;
}

.title {
  margin-bottom: 20px; 
}

.underlined {
  display: inline-block;
  border-bottom: 5px solid #fff;
  

}


.card-outline-secondary {
  background-color: transparent;
  color: white;
  border: 0px !important;
}



.mb-3 {
  margin-bottom: 0rem!important;
}
