.card-blockquote {
	padding: 10% 10% 35% 10%;
height: 35vh;
}

.strap {
	display: flex;
	margin-top: -10%;

	padding-bottom: 5%;
	position: relative;
	z-index: 2;

	justify-content:space-around;
	align-items:center;

}


.card-outline-secondary {

background-image: url('./images/OMES_Pattern_02.jpg');

background-color: #AE462B;
color: white;
}

.strap img {
	position: relative;
	background-image: cover;
	/*right: 150px;*/
	max-width: 30%;
	display: block;

}

.the-facts {
  margin-top: 5%;
margin-bottom: 10%;


}
