.footer {
	background-color: #585757;
	padding: 5%;
  text-align: center;
  font-size: 2em;
}

.footer a {
  color: #F1EADB;
}

.col-4.footer {
	text-align: center;
}

.footer-text {
  font-size: 0.5em;
  line-height: 4em;
}
