.footer {
	background-color: #585757;
  text-align: center;
  height: 10%;
  padding-top: 45px;
}

.footer li {
	display: inline;
	text-decoration: none;
}
.footer a {
  color: #F1EADB;
}

.col-4.footer {
	text-align: center;
}

.footer-text {
  font-size: 14px;
  line-height: 4em;
}
