.footer {
	background-color: #585757;
  text-align: center;
  font-size: 2em;
  height: 10%;
  padding-top: 45px;
}

.footer a {
  color: #F1EADB;
}

.col-4.footer {
	text-align: center;
}

.footer-text {
  font-size: 0.5em;
  line-height: 4em;
}
