.nav {
  height: 5vh;
  background-color: transparent;
  align-items: end;
  padding-right: 10%;
  padding-top: 2%;
}

.nav-link  {
  color: #fff;
}

.nav-link:hover {
  color: #AE462B;
}

#nav {
	position: relative;
  z-index: 10;
}

#contact:hover {
  color: #AE462B;
}
