.talk-dirt {
	padding-top: 7%;
  padding-bottom: 15%;
}

.about-us {
  background-color: #F4E8D7;
  padding: 10% 5% 10% 5%;
  text-align: center;
}

.row.team-members {
  margin: 10% 5% 5% 5%;
}

.col.team-member {
	min-width: 35%;
}

.team  {
  max-width: 75%;
  border-radius: 300px;
  margin-bottom: 10%;
}

.form {
	margin-top: 10%;
	text-align: center;
	margin-bottom: 10%;
}

.submit {
	margin-top: 10%;
}

.col-form-label-sm {
	text-align: center;
	background-color: #fff;
	margin-top: 5%;
}

.phone {
  font-size: 0.6em;
  width: 300px;
  padding-top: 12px;
  margin: 1%;
  max-width: 100%;
}

.email {
  width: 300px;
  font-size: 0.8em;
  margin: 1%;
  max-width: 100%;
}

#bio {
  line-height: 2em;
  padding-bottom: 10%;
}

.bio-text {
  padding: 0 5% 0 5%;
  text-align: left;
}
