

.talk-dirt {
	background-color: #F4E8D7;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10%;
	text-align: center;
}


.row.team-members {

margin: 10% 5% 10% 5%;


}

.col.team-member {
	min-width: 35%;


}

.team  {
max-width: 75%;
border-radius: 300px;
margin-bottom: 10%;

}

.team-member {
  /*margin: 0  5%;*/
}

.form {
	margin-top: 10%;
	text-align: center;
	margin-bottom: 10%;


}

.submit {
	margin-top: 10%;

}

.col-form-label-sm {
	text-align: center;
	background-color: #fff;
	margin-top: 5%;

}



.team-members {

}

.btn-outline-secondary.phone {
  color: #b9b8b8 !important;
  border-color: #b9b8b8 !important;
  font-size: 0.8em;

}
.btn-outline-secondary.email {

  color:  #b9b8b8 !important;
  border-color:  #b9b8b8 !important;
  font-size: 0.8em;
}


.btn-outline-secondary:hover {
  color: #AE462B !important;
  border-color: #AE462B !important;
  background-color: transparent;
  font-size: 0.8em;
}

.white {
	color: white !important;
	border-color: color: #b9b8b8 !important;
}


.btn-outline-secondary:hover {
  color: #AE462B !important;
  border-color: #AE462B !important;
  background-color: transparent;
  font-size: 0.8em;
}

#bio {
line-height: 2em;
  padding-bottom: 10%;
}
