

#content-value-prop {
	background-color: #E7BA5C;
	margin-bottom: 0;
	color: #fff;
	padding: 10% 20%;
}

#section-two {
	margin-top: 9%;
	font-weight: 600;
}

.why-is-composting-so-important {
	background-color: #ECE9E7;
	margin-bottom: 0;
	color: #4A4A4A;
	padding: 10% 20%;
}




